.menu {
    padding: 5px 0;
    background-image: linear-gradient(188deg, #0cfff5c4 0%, #ef010196 100%);
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.item {
    list-style-type: none;
    position: relative;
    marker: none;
    padding: 10px;
    height: 60px;
}

.btn {
    background-color: #df9694ab;
    border: 2px solid #8a3d0a;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    color: #000;
}

.btn:focus {
    box-shadow: 0 0 0 2px rgb(181 59 59 / 55%) !important;
    border-color: #8a3d0a;
    outline: none !important;
    color: inherit;
    background-color: #f6ebebb8;
}

.btn:hover {
    color: #000;
    background-color: #f6ebebb8;
    border-color: #8a3d0a !important;
}
